<html>
    <head>
        <title>Trivia Game</title>
        <h1>Play</h1>
    </head>
    <body>
        <%@questions.each do |question|%>
            <%randans = [question.correct_answer.name]%>
            <%question.incorrect_answers.each do |answer| %>
                <%randans.append(answer.answer)%>
            <%end%>
            <%randans.shuffle!%>
            <form>
                <div>
                <h4><%=question.question%></h4>
                <%randans.each do |answer|%>
                    <input type="radio" name="answer"><%=answer%><br>
                <%end%>
                </div>
            </form>
        <%end%>
        <button>Enter</button><br>
    </body>
</html>