<title> Question: <%=@question.id%> </title>
<table>
    <thead>
        <tr>
            <td><b>Question</b></td>
            <td><b>Correct Answer</b></td>
            <td><b>Incorrect Answers</b></td>
        </tr>
    </thead>
    <tbody>
        <td><%=@question.question%></td>
        <td><%=@question.correct_answer.name%></td>
        <% @question.incorrect_answers.each do |answer| %>
            <td><%=answer.answer%></td>
        <%end%>
    </tbody>
</table>
<a href="/questions">Go Back</a>